// Microsoft Visual C++ generated resource script.
//
// DO NOT wrap or comment out the #include lines below - the resource compiler needs them verbatim.
#include "resource.h"

#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif

#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
//
// Icons
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_MANDELBROT       ICON    "Mandelbrot.ico"
IDI_SMALL            ICON    "small.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//
IDC_MANDELBROT MENU
BEGIN
POPUP "&File"
BEGIN
MENUITEM "Properties...", IDM_PROPERTIES
MENUITEM "E&xit", IDM_EXIT
END
POPUP "&Help"
BEGIN
MENUITEM "&About ...", IDM_ABOUT
END
END

/////////////////////////////////////////////////////////////////////////////
//
// Accelerators
//
IDC_MANDELBROT ACCELERATORS
BEGIN
"?", IDM_ABOUT, ASCII, ALT
"/", IDM_ABOUT, ASCII, ALT
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialogs
//

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Mandelbrot"
FONT 8, "MS Shell Dlg"
BEGIN
ICON            IDI_MANDELBROT, IDC_STATIC, 14, 14, 21, 20
LTEXT           "Mandelbrot, Version 1.0", IDC_STATIC, 42, 14, 114, 8, SS_NOPREFIX
LTEXT           "Copyright (c) 2026", IDC_STATIC, 42, 26, 114, 8
DEFPUSHBUTTON   "OK", IDOK, 113, 41, 50, 14, WS_GROUP
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO (used by Visual Studio layout editor)
//
#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
IDD_ABOUTBOX, DIALOG
BEGIN
LEFTMARGIN, 7
RIGHTMARGIN, 163
TOPMARGIN, 7
BOTTOMMARGIN, 55
END
END
#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE blocks for the resource editor
//
#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE
BEGIN
"resource.h\0"
END

2 TEXTINCLUDE
BEGIN
"#ifndef APSTUDIO_INVOKED\r\n"
"#include ""targetver.h""\r\n"
"#endif\r\n"
"#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
"#include ""windows.h""\r\n"
"#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
"\0"
END

3 TEXTINCLUDE
BEGIN
"\r\n"
"\0"
END
#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Properties dialog (cleaned formatting; same layout and IDs preserved)
//
IDD_PROPERTIES DIALOGEX 0, 0, 360, 220
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Properties"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT           "Maximum Iteration:", -1, 7, 8, 80, 8
EDITTEXT        IDC_MAXITER, 95, 6, 40, 12, ES_AUTOHSCROLL
CONTROL         "", IDC_SPIN_MAXITER, "msctls_updown32", UDS_ALIGNRIGHT | UDS_SETBUDDYINT | WS_CHILD | WS_VISIBLE, 135, 6, 10, 12

LTEXT           "Center:", -1, 7, 26, 32, 8
EDITTEXT        IDC_CENTER_REAL, 45, 24, 120, 12, ES_AUTOHSCROLL
LTEXT           "+", -1, 170, 26, 8, 8
EDITTEXT        IDC_CENTER_IMAG, 180, 24, 120, 12, ES_AUTOHSCROLL
LTEXT           "i", -1, 305, 26, 6, 8

LTEXT           "Height:", -1, 7, 44, 36, 8
EDITTEXT        IDC_HEIGHT, 45, 42, 160, 12, ES_AUTOHSCROLL

GROUPBOX        "Minimum", -1, 40, 64, 120, 82
GROUPBOX        "Maximum", -1, 200, 64, 120, 82

LTEXT           "Red", -1, 10, 74, 28, 8
EDITTEXT        IDC_RMIN, 50, 72, 60, 12, ES_AUTOHSCROLL
CONTROL         "", IDC_SPIN_RMIN, "msctls_updown32", UDS_ALIGNRIGHT | UDS_SETBUDDYINT | WS_CHILD | WS_VISIBLE, 110, 72, 10, 12
EDITTEXT        IDC_RMAX, 210, 72, 60, 12, ES_AUTOHSCROLL
CONTROL         "", IDC_SPIN_RMAX, "msctls_updown32", UDS_ALIGNRIGHT | UDS_SETBUDDYINT | WS_CHILD | WS_VISIBLE, 270, 72, 10, 12

LTEXT           "Green", -1, 10, 94, 28, 8
EDITTEXT        IDC_GMIN, 50, 92, 60, 12, ES_AUTOHSCROLL
CONTROL         "", IDC_SPIN_GMIN, "msctls_updown32", UDS_ALIGNRIGHT | UDS_SETBUDDYINT | WS_CHILD | WS_VISIBLE, 110, 92, 10, 12
EDITTEXT        IDC_GMAX, 210, 92, 60, 12, ES_AUTOHSCROLL
CONTROL         "", IDC_SPIN_GMAX, "msctls_updown32", UDS_ALIGNRIGHT | UDS_SETBUDDYINT | WS_CHILD | WS_VISIBLE, 270, 92, 10, 12

LTEXT           "Blue", -1, 10, 114, 28, 8
EDITTEXT        IDC_BMIN, 50, 112, 60, 12, ES_AUTOHSCROLL
CONTROL         "", IDC_SPIN_BMIN, "msctls_updown32", UDS_ALIGNRIGHT | UDS_SETBUDDYINT | WS_CHILD | WS_VISIBLE, 110, 112, 10, 12
EDITTEXT        IDC_BMAX, 210, 112, 60, 12, ES_AUTOHSCROLL
CONTROL         "", IDC_SPIN_BMAX, "msctls_updown32", UDS_ALIGNRIGHT | UDS_SETBUDDYINT | WS_CHILD | WS_VISIBLE, 270, 112, 10, 12

DEFPUSHBUTTON   "OK", IDOK, 220, 185, 50, 14, WS_GROUP
PUSHBUTTON      "Cancel", IDCANCEL, 280, 185, 50, 14
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//
STRINGTABLE
BEGIN
IDC_MANDELBROT   "MANDELBROT"
IDS_APP_TITLE    "Mandelbrot"
END

/////////////////////////////////////////////////////////////////////////////
